*{
    font-family: 'Russo One', sans-serif;
}
.container-fluid{
    background-image: linear-gradient(to bottom, #0f0fa0, #04042e);
    color: white;
    padding: 15px;
    height: 100%;
}
html, body{
    height: 100%;
}
button{
    display: block;
    width: 400px;
    height: 100px;
    font-size: 30px;
    background-color: darkblue;
    border-radius: 10px;
    border: 5px solid white;
    opacity: 0.4;
    color: white;
}

.col{
    border: 5px solid white;
    border-radius: 10px;
    padding: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    height: 500px;
}
h1{
    text-align: center;
}

h1::after{
    content: "";
    display: block;
    border: 1px solid;
}

h1::before{
    content: "";
    display: block;
    border: 1px solid;
}

#imageplace{
    border: none;
}

#runda2{
    background-image: linear-gradient(to bottom, #0a0a5d, #04042e), url("../images/AwanturaOKase.png");
    filter: brightness(160%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
}

#runda1{
    background-image: linear-gradient(to bottom, #0f0fa0, #04042e), url("../images/vabanque2.png");
    filter: brightness(160%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
}


.colquest{
    height: 60px;
}
#colteam1, #colteam11{
    background-image: linear-gradient(to bottom, #ff0000, #4b0000);
    height: 100px;
    font-size: 18px;
}
#colteam2, #colteam12{
    background-image: linear-gradient(to bottom, #037b0d, #001f04);
    height: 100px;
    font-size: 20px;
}
#colteam3, #colteam13{
    background-image: linear-gradient(to bottom, #a0a700, #202701);
    height: 100px;
    font-size: 20px;
}
#colteam4, #colteam14{
    background-image: linear-gradient(to bottom, #b800d9, #3b0435);
    height: 100px;
    font-size: 20px;
}
.colteam{
    height: 100px;
    border: none;
}
.coltheme{
    height: 30px;
    border: none;
    font-size: 25px;
}
#t1pkt,#t2pkt,#t3pkt,#t4pkt{
    font-size: 20px;
}
#q21{
    background-image: linear-gradient(to bottom, yellow, #2e2e00);
    border-color: #2e2e00;
}
#q22{
    background-image: linear-gradient(to bottom, green, #022403);
    border-color: #022403;
}
#q23{
    background-image: linear-gradient(to bottom, #e62749, #3c000b);
    border-color: #3c000b;
}
#q24{
    background-image: linear-gradient(to bottom, brown, #210505);
    border-color: #210505;
}
#q31{
    background-image: linear-gradient(to bottom, yellow, #2e2e00);
    border-color: #2e2e00;
}
#q32{
    background-image: linear-gradient(to bottom, green, #022403);
    border-color: #022403;
}
#q33{
    background-image: linear-gradient(to bottom, #e62749, #3c000b);
    border-color: #3c000b;
}
#q34{
    background-image: linear-gradient(to bottom, brown, #210505);
    border-color: #210505;
}
#q41{
    background-image: linear-gradient(to bottom, yellow, #2e2e00);
    border-color: #2e2e00;
}
#q42{
   background-image: linear-gradient(to bottom, green, #022403);
    border-color: #022403;
}
#q43{
    background-image: linear-gradient(to bottom, #e62749, #3c000b);
    border-color: #3c000b;
}
#q44{
    background-image: linear-gradient(to bottom, brown, #210505);
    border-color: #210505;
}
#btnadd{
    width: 150px;
    height: 50px;
    position: relative;
    top: 17px;
    left: 20px;
}
.larrow{
    font-size: 30px;
    color: white;
    background-color: black;
    border-radius: 10px;
    float: right;
    width: 100px;
    text-align: center;
}
#szczalka{
   width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 80px solid red;
    position: absolute;
    z-index: 1;
    border-bottom: 0;
    left: 180px;
}
#licznik{
    z-index: 2;
}
#colteam11,#colteam12,#colteam13, #colteam14{
    height: 300px;
}